/* slider */

#carousel-shop {
    margin-bottom: 30px;
}


/* product item */

.thumbnail {
    padding: 0;
}

.caption {
    padding: 9px;
    height: 130px;
    overflow: hidden;
}

.ratings {
    padding: 0 10px;
    height: 40px;
    color: red;
}


/* footer */

footer {
    padding: 50px 0;
    border-top: 1px solid #eee;
}
